{% extends 'neo_tracker/base.html' %}


{% load render_table from django_tables2 %}

{% block user_messages %}
    {% if messages %}
        {% for msg in messages %}
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-bs-dismiss="alert" aria-hidden="true">&times;</button>
                {{ msg.message }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container text-center">
        {% if table %}
            {% render_table table %}
        {% endif %}
    </div>
{% endblock %}